#cursor-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--pri-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: width 0.3s, height 0.3s, border-color 0.3s; /* for over */
}
